/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * 
 * Keymap by Daniel Willeitner
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* Layers */
#define DEV 0
#define NUM 1

/ {
	keymap {
		compatible = "zmk,keymap";

		// Base Layer: QWERTY
		//
		// ,-------------------------------------------.                              ,-------------------------------------------.
		// |   TAB  |   Q  |   W  |   E  |   R  |   T  |                              |   Y  |   U  |   I  |   O  |   P  |  - _   |
		// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
		// |Ctrl/ESC|   A  |   S  |   D  |   F  |   G  |                              |   H  |   J  |   K  |   L  | ;  : |  ' "   |
		// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
		// | LShift |   Z  |   X  |   C  |   V  |   B  | Play | Skip |  |      |C+W+S4|   N  |   M  | ,  < | . >  | /  ? |  = +   |
		// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
		//                        | ENCL |  NUM | BS   | CMD  |C^B   |  | Opt  | Enter| Space|  NUM | ENCR |
		//                        |      |      |      |      |      |  |      |      | Lower|      |      |
		//                        `----------------------------------'  `----------------------------------'
		//
		base_layer {
		  label = "DEV";
				bindings = <
					&kp TAB				&kp Q &kp W &kp E		&kp R			&kp T																															&kp Y			&kp U		&kp I     &kp O   &kp P    &kp KP_MINUS
					&mt LCTRL ESC &kp A &kp S &kp D		&kp F			&kp G																															&kp H			&kp J		&kp K     &kp L   &kp SEMI &kp SQT
					&kp LSHFT			&kp Z &kp X &kp C		&kp V			&kp B			&kp C_PLAY	&kp C_NEXT     &none			&kp LS(LC(LG(4)))	&kp N			&kp M		&kp COMMA &kp DOT &kp FSLH &kp EQUAL
																		&none		&mo NUM		&kp BSPC	&kp LCMD		&kp LS(B)      &kp LALT		&kp ENTER					&kp SPACE &mo NUM &none
					>;

					sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		// Base Layer: Numbers
		//
		// ,-------------------------------------------.                              ,-------------------------------------------.
		// |   ` ~  |   !  |   @  |   #  |   $  |   %  |                              |   ^  |   &  |   *  |   (  |   )  |  \ |   |
		// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
		// |        |   1  |   2  |   3  |   4  |   5  |                              |   6  |   7  |   8  |   9  |   0  |  \ |   |
		// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
		// |        |      |      |      |   {  | { [  |      |      |  |      | QUIT |  } ] |   }  |      |      |      |        |
		// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
		//                        |      |      |      |      |      |  |      |      |      |      |      |
		//                        |      |      |      |      |      |  |      |      |      |      |      |
		//                        `----------------------------------'  `----------------------------------'
		//
		num_layer {
		  label = "NUM";
				bindings = <
					&kp TILDE	&kp EXCL				&kp AT	&kp HASH	&kp DLLR	&kp PRCNT																										&kp CARET &kp AMPS  &kp STAR  &kp LPAR	&kp RPAR	&kp BSLH
					&none			&kp 1						&kp 2		&kp 3			&kp 4			&kp 5																												&kp 6			&kp 7			&kp 8     &kp 9			&kp 0			&kp BSLH
					&bt BT_CLR	&bt BT_NXT		&none		&none			&kp LBRC	&kp LBRT	&bt BT_CLR		&bt BT_NXT			&none &kp LC(LG(Q))	&kp RBRT	&kp RBRC  &none			&none			&none			&none
																						&none			&none			&none			&none					&none						&none &none					&none			&none			&none
					>;

					sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
